# ignore env variables
.gitignore
/backend/.env
/frontend/.env
/backend/aiven.pem

# ignore node modules
**/node_modules/

/backend/dist
/frontend/dist


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?